{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Profile

{% endblock %}



{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> Profile </a>
                    <a class="list-group-item" href="#"> Transactions </a>
                    <a class="list-group-item" href="#"> Return and refunds </a>
                    <a class="list-group-item" href="#">Settings </a>
                    <a class="list-group-item" href="#"> My Selling Items </a>
                    <a class="list-group-item" href="#"> Received orders </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i>
                    <span class="text">Log
                        out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <!-- ================== main content ================== -->
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">
                            Profile
                        </strong>
                    </header>
                    <div class="card-body">

                        <form method="post" action="{% url 'update_profile' %}" class="row" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="col-md-12">
                                <h6 class="text-muted">Profile Image</h6>
                                {% if profile.image %}
                                <img src="{{ profile.image.url }}" alt="profile image" class="img-thumbnail"
                                    style="width: 200px; height: 200px;" onclick="changeImage()">
                                {% else %}
                                <input type="file" name="avatar" accept="image/*" id="avatar-input"
                                    style="display: none;">
                                <img src="{% static 'images/default.jpg' %}" alt="profile image" class="img-thumbnail"
                                    style="width: 200px; height: 200px;" onclick="changeImage()">
                                {% endif %}

                            </div>

                            <div class="col-md-6" style="margin-top: 20px;">
                                <label>Region</label>
                                <select class="mr-2 form-control" name="region" onchange="getDistrictByRegion">

                                    <option value="{{profile.region.id}}" selected>{{profile.region}}</option>

                                    {% for region in regions %}
                                        <option value="{{region.id}}">{{region}}</option>
                                    {% empty %}
                                        <option>No region</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="col-md-6" style="margin-top: 20px;">
                                <label>District</label>
                                <select class="mr-2 form-control" name="district">
                                    
                                    <option value="{{profile.district.id}}" selected>{{profile.district}}</option>
                                    
                                    {% for district in districts %}
                                        <option value="{{district.id}}">{{district}}</option>
                                    {% empty %}
                                    <option>No district</option>
                                    {% endfor %}
                                </select>


                            </div>

                            <div class="col-md-6">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" value="{{ profile.address }}">

                            </div>

                            <div class="col-md-6" style="margin-top: 20px;">
                                <label>Tug'ilgan sana</label>
                                <input type="date" class="form-control" name="birth_date"
                                    value="{{ profile.birth_date }}">

                            </div>

                            <div class="col-md-12" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </form>

                    </div> <!-- card-body .// -->

                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
    <script>
        function changeImage() {
            document.getElementById('avatar-input').click();
        }
    </script>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
    function getDistrictByRegion() {
        var size = document.getElementById("size").value;
        // send as id ur /url?size=1 via ajax
        var productDetailId = {{ product.id }} ;

        // create ajax object
        ajaxClint = new XMLHttpRequest();
        ajaxClint.open("GET", `/products/${productDetailId}/?size_id=` + size, true);
        ajaxClint.send();

        ajaxClint.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // here we get the response from the server and set color options
                let color_select = document.getElementById("color");
                let product_variations = JSON.parse(this.responseText);
                color_select.innerHTML = "";
                //default option for color
                let default_option = document.createElement("option");
                default_option.disabled = true;
                default_option.selected = true;
                default_option.text = "Please Choose color";
                color_select.appendChild(default_option);
                product_variations.forEach(function (product_variation) {
                    let option = document.createElement("option");
                    option.value = product_variation.color__id;
                    option.text = product_variation.color__name;
                    color_select.appendChild(option);

                });

            }
        }

    }

</script>
{% endblock %}