
{% extends "base/base.html" %}

{% load static %}

{% block content %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">Our Store</h2>

	</div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">
								<ul class="list-menu">

									{% for category in categories %}
									<li>
										<a href="?category_id={{category.id}}&search={{search}}&size_id={{size_id}}">
											{{ category.name }}
										</a>
									</li>
									{% empty %}
									<li>No categories found</li>
									{% endfor %}

								</ul>

							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Sizes </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_4">
							<div class="card-body">

								{% for size_variation in size_variations %}

									<label class="checkbox-btn">
										<a href="?size_id={{ size_variation.size__id }}&search={{ search }}&category_id={{category_id}}">
											<span class="btn btn-light {% if size_variation.size__id == size_id %}active{% endif %}"> {{ size_variation.size__name }} </span>
										</a>
									</label>

								{% endfor %}

							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->

					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Price range </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_3">
							<div class="card-body">

								<form action="." method="get">
									<input type="hidden" name="category_id" value="{{ category_id }}">
									<input type="hidden" name="size_id" value="{{ size_id }}">
									<input type="hidden" name="search" value="{{ search }}">
								
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Min</label>
											<!-- <input class="form-control" placeholder="$0" type="number"> -->
											<select class="mr-2 form-control" name="min_price">
												<option value="0">$0</option>
												<option value="50">$50</option>
												<option value="100">$100</option>
												<option value="150">$150</option>
												<option value="200">$200</option>
												<option value="500">$500</option>
												<option value="1000">$1000</option>
											</select>
										</div>
										<div class="form-group text-right col-md-6">
											<label>Max</label>
											<select class="mr-2 form-control" name="max_price">
												<option value="50">$50</option>
												<option value="100">$100</option>
												<option value="150">$150</option>
												<option value="200">$200</option>
												<option value="500">$500</option>
												<option value="1000">$1000</option>
												<option value="2000">$2000+</option>
											</select>
										</div>
									</div> <!-- form-row.// -->

									<button class="btn btn-block btn-primary">Apply</button>

								</form>
									<button class="btn btn-block btn-light" onclick="clearFilters()">
										Reset
									</button>
								
							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->

				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{ page_obj.paginator.count }} Items found </span>

					</div>
				</header><!-- sect-heading -->

				<div class="row">
					{% for product in page_obj %}
					<div class="col-md-3">
						<div class="card card-product-grid">
							{% if product.image %}
							<a href="{% url 'product_detail' product.id %}" class="img-wrap"> 
								<img src=	`"{{ product.image.url }}"> 
							</a>
							{% else %}
							<a href="{% url 'product_detail' product.id %}" class="img-wrap"> 
								<img alt="product-img" src="#"> 
							</a>
							{% endif %}
							<figcaption class="info-wrap">
								<a href="{% url 'product_detail' product.id %}" class="title">{{ product.name }}</a>
								<div class="price mt-1">${{ product.variations.first.price }}</div>
							</figcaption>
						</div>
					</div>
					{% empty %}
					<center>
						<h1>
							Mahsulotlar topilmadi
						</h1>
					</center>
					{% endfor %}
				</div>

				{% comment %} pagination  {% endcomment %}
				<nav class="mt-4" aria-label="Page navigation sample">
					<ul class="pagination">
						{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}&page-size={{page_size}}">Previous</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="first">Previous</a>
						</li>
						{% endif %}
				
						{% for num in page_obj.paginator.page_range %}
						<li class="page-item {% if page_obj.number == num %}active{% endif %}">
							<a class="page-link" id="first" href="?page={{ num }}&page-size={{page_size}}">{{ num }}</a>
						</li>
						{% endfor %}
				
						{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}&page-size={{page_size}}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#">Next</a>
						</li>
						{% endif %}
					</ul>
				</nav>
				

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>
	function clearFilters() {
		window.location.href = "{% url 'store' %}";
	}
</script>

{% endblock content %}
